{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es2020",
    "loose": false
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false,
  "exclude": [
    "node_modules",
    "src/__mocks__",
    "spec.(ts|tsx)$"
  ]
}
